@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  color: #333;
  line-height: 1.5em;
  font-family: "Roboto";
  padding: 3em;
}
h1 {
  margin-bottom: 1.5em;
}
h2 {
  font-size: 1.2em;
}
.list-item--hide {
  display: none;
}
a {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}
a:hover {
  border-color: #333;
}
.toggle {
  margin: 1em 0;
}
